---
import Layout from '../layouts/Layout.astro';

import { YouTubeEmbed } from '../components/YoutubeEmbed';

import { fetchAboutPageData } from '../lib/graphql';

type Media = {
  url?: string;
};

let heroImage: Media | null = null;
let header: string | null = null;
let youtubeUrl: string | null = null;

try {
  const data: any = await fetchAboutPageData();
  heroImage = data?.aboutUs?.Media;
  header = data?.aboutUs?.Heading;
  youtubeUrl = data?.aboutUs?.YouTubeLink;
} catch (error) {
  console.error('Error fetching home data:', error);
}
---

<Layout>
  <div id="container" class="relative flex w-full justify-center">
    <main class="flex w-full flex-col items-center">
      <!-- Hero Image Section -->
      <div class="relative flex w-full justify-center bg-cover bg-center bg-no-repeat">
        <img
          src={heroImage?.url || ''}
          alt="Peak2Peak"
          class="h-[60vh] w-full bg-cover bg-center bg-no-repeat"
        />
        <div class="absolute bottom-0 flex w-full max-w-screen-2xl flex-col pb-8">
          <h1 class="text-[3rem] font-bold uppercase text-white md:text-[4.25rem] md:font-black">
            {header || 'About Us'}
          </h1>
        </div>
      </div>

      <div class="flex w-full max-w-screen-2xl flex-col pb-24">
        <!-- Youtube video section -->
        <div class="mt-10 flex w-full gap-10">
          <YouTubeEmbed url={youtubeUrl || ''} />
        </div>

        <!-- About Section 1 -->
        <div class="mt-10 flex w-full gap-10">
          <div class="flex-2 flex flex-col gap-3">
            <h1 class="text-primary">
              <span class="text-[2.5rem] font-thin"> Always a </span>
              <span class="text-[2.5rem] font-semibold"> little higher </span>
            </h1>
            <p class="text-sm font-thin leading-loose text-gray-600">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
              has been the industry’s standard dummy text ever since the 1500s, when an unknown
              printer took a galley of type and scrambled it to make a type specimen book. It has
              survived not only five centuries, but also the leap into electronic typesetting,
              remaining essentially unchanged. It was popularised in the 1960s with the release of
              Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
              publishing software like Aldus PageMaker including versions of Lorem Ipsum..
            </p>
            <p class="text-sm font-thin leading-loose text-gray-600">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
              has been the industry’s standard dummy text ever since the 1500s, when an unknown
              printer took a galley of type and scrambled it to make a type specimen book. It has
              survived not only five centuries, but also the leap into electronic typesetting,
              remaining essentially unchanged. It was popularised in the 1960s with the release of
              Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
              publishing software like Aldus PageMaker including versions of Lorem Ipsum..
            </p>
          </div>
          <div class="mt-3 flex aspect-square w-full flex-1">
            <img
              src="https://fastly.picsum.photos/id/29/4000/2670.jpg?hmac=rCbRAl24FzrSzwlR5tL-Aqzyu5tX_PA95VJtnUXegGU"
              alt="image"
              class="h-[450px]"
            />
          </div>
        </div>

        <div class="mt-20 h-[1px] w-full bg-[#aaaaaa]"></div>

        <!-- About Section 2 -->
        <div class="mt-12 flex w-full gap-10">
          <div class="mt-3 flex aspect-square w-full flex-1">
            <img
              src="https://fastly.picsum.photos/id/29/4000/2670.jpg?hmac=rCbRAl24FzrSzwlR5tL-Aqzyu5tX_PA95VJtnUXegGU"
              alt="image"
              class="h-[450px]"
            />
          </div>
          <div class="flex-2 flex flex-col gap-3">
            <h1 class="text-primary">
              <span class="text-[2.5rem] font-thin"> Always a </span>
              <span class="text-[2.5rem] font-semibold"> little higher </span>
            </h1>
            <p class="text-sm font-thin leading-loose text-gray-600">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
              has been the industry’s standard dummy text ever since the 1500s, when an unknown
              printer took a galley of type and scrambled it to make a type specimen book. It has
              survived not only five centuries, but also the leap into electronic typesetting,
              remaining essentially unchanged. It was popularised in the 1960s with the release of
              Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
              publishing software like Aldus PageMaker including versions of Lorem Ipsum..
            </p>
            <p class="text-sm font-thin leading-loose text-gray-600">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
              has been the industry’s standard dummy text ever since the 1500s, when an unknown
              printer took a galley of type and scrambled it to make a type specimen book. It has
              survived not only five centuries, but also the leap into electronic typesetting,
              remaining essentially unchanged. It was popularised in the 1960s with the release of
              Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
              publishing software like Aldus PageMaker including versions of Lorem Ipsum..
            </p>
          </div>
        </div>
      </div>
    </main>
  </div>
</Layout>
