---
import Layout from '../layouts/Layout.astro';

import { YouTubeEmbed } from '../components/YoutubeEmbed';

import { fetchAboutPageData } from '../lib/graphql';
import SecureImage from '../components/SecureImage';
import SecureVideo from '../components/SecureVideo';

type Media = {
  url?: string;
};

let heroImage: Media | null = null;
let heroVideo: Media | null = null;
let heading: string | null = null;
let youtubeUrl: string | null = null;

try {
  const data: any = await fetchAboutPageData();
  heroImage = data?.aboutUs?.HeroImage;
  heroVideo = data?.aboutUs?.HeroVideo;
  heading = data?.aboutUs?.Heading;
  youtubeUrl = data?.aboutUs?.YouTubeLink;
} catch (error) {
  console.error('Error fetching about page data:', error);
}
---

<Layout>
  <div id="container" class="relative flex w-full justify-center">
    <main class="flex w-full flex-col items-center">
      <!-- Hero Image Section -->
      <div class="relative flex w-full justify-center bg-cover bg-center bg-no-repeat">
        {
          heroVideo?.url ? (
            <SecureVideo
              src={heroVideo.url}
              autoPlay
              loop={false}
              muted
              playsInline
              className="h-[40vh] w-full object-cover md:h-[60vh]"
            />
          ) : (
            <SecureImage
              src={heroImage?.url || ''}
              alt="Peak2Peak"
              className="h-[40vh] w-full object-cover md:h-[60vh]"
            />
          )
        }
        <div class="absolute bottom-0 flex w-full max-w-[1576px] flex-col px-5 pb-8">
          <h1 class="text-[3rem] font-bold uppercase text-white md:text-[4.25rem] md:font-black">
            {heading || 'About Me'}
          </h1>
        </div>
      </div>

      <div class="flex w-full max-w-[1576px] flex-col px-5 pb-24">
        <!-- Youtube video section -->
        {
          youtubeUrl ? (
            <div class="mt-10 flex w-full gap-10">
              <YouTubeEmbed url={youtubeUrl || ''} />
            </div>
          ) : null
        }

        <!-- About Section 1 -->
        <div class="mt-12 flex w-full flex-col gap-10 lg:flex-row">
          <div class="flex w-full flex-col gap-3 lg:w-[60%]">
            <h1 class="text-primary">
              <span class="text-[2.5rem] font-thin"> A New </span>
              <span class="text-[2.5rem] font-semibold"> Beginning... </span>
            </h1>
            <p class="text-sm font-thin leading-loose text-gray-600">
              I am Ujwal and this is my mountaineering story. Let me begin by telling you a little
              bit about myself. Before I started mountaineering, I pursued and still have a
              successful career in tech and I found it to be very fulfilling. I also have 30 years
              of experience in martial arts, and I am an instructor in the art. At that point in my
              life, I was focused on my career and I had no inclination to pursue hiking or mountain
              climbing. However, life is full of twists and turns and several crises came my way. I
              was 50 and at this juncture in my life, an existential question began to surface
              within me: “Who am I?” I was on a quest to find my true calling, and I found the
              mountains.
            </p>
            <p class="text-sm font-thin leading-loose text-gray-600">
              Despite being in good shape due to my martial arts experience, I quickly found out
              that was not enough, and I needed a lot more training. But the results were worth it,
              and after several months of rigorous training, I was able to do my very first
              technical climb of Mt Shuksan in Washington, followed by Mount Kilimanjaro in
              Tanzania. I have climbed the peaks of Yosemite numerous times, Monte Rosa in the Alps
              in a complete blizzard and completed a rim-to-rim hike of the Grand Canyon in less
              than 11 hours. In 2023, I hiked to Everest base camp on my first trip to Nepal. I have
              attempted to summit Mount Shasta a total of six times and was successful twice. I have
              also successfully summited Mount Whitney, the highest point in the continental US.
              Apart from this, I also do ice climbing and rock climbing which are essential skills
              for mountaineering.
            </p>
          </div>
          <div class="mt-3 flex w-full lg:w-[40%]">
            <SecureVideo
              width="100%"
              height="100%"
              controls
              src="https://steadfast-advice-fa34b24fc0.media.strapiapp.com/Intro_cdabe6a26c.mp4"
            />
          </div>
        </div>

        <div class="mt-10 h-[1px] w-full bg-[#aaaaaa]"></div>

        <!-- About Section 2 -->
        <div class="mt-12 flex w-full flex-col gap-10 lg:flex-row">
          <div class="mt-3 flex w-full lg:w-[40%]">
            <SecureImage
              src="https://steadfast-advice-fa34b24fc0.media.strapiapp.com/Shasta_OAT_3_6bbbd24a33.JPG"
              alt="image"
              className="h-full max-h-[450px]"
            />
          </div>
          <div class="flex w-full flex-col gap-3 lg:w-[60%]">
            <h1 class="text-primary">
              <span class="text-[2.5rem] font-thin"> One Step </span>
              <span class="text-[2.5rem] font-semibold"> At a Time... </span>
            </h1>
            <p class="text-sm font-thin leading-loose text-gray-600">
              Mountaineering may seem like a daunting sport, and it undoubtedly poses numerous
              challenges. I have had my fair share of setbacks, but I persevered and was able to
              rediscover myself. I was once a person who had never hiked; I went from that to
              climbing several mountains. Here is a fun fact: I climbed up Mount Diablo twice in a
              day! It is my sincere hope that this serves as an inspiration for everyone who is
              contemplating mountaineering. It is a transformative and meditative experience which
              can bring immense happiness and is very achievable. My internal compass led me to my
              true north, if this resonates with you, come join me on this journey!
            </p>
          </div>
        </div>
      </div>
    </main>
  </div>
</Layout>
