---
import Layout from '../layouts/Layout.astro';

import Welcome from '../components/Welcome.astro';
// import Posts from '../components/Posts.astro';

// import heroImage from '../assets/homeBg.png';

import { fetchHomeData } from '../lib/graphql';
import { Image } from '../types/common';
import {
  // CategoryItem,
  HeroSectionData,
} from '../types/home';
import { Postss } from '../components/Posts';

// Initialize loading state
// let isLoading = true;

let heroImage: Image | null = null;
let heroSection: HeroSectionData | null = null;
let categories:
  | {
      Name?: string;
      icon?: {
        url?: string;
      };
      slug?: string;
    }[]
  | null = null;

try {
  const data: any = await fetchHomeData();
  heroImage = data?.homePage?.Image;
  heroSection = data?.homePage?.HeroSection?.[0];
  categories = data?.homePage?.blogs;
} catch (error) {
  console.error('Error fetching home data:', error);
  // } finally {
  //   isLoading = false;
}
---

<Layout>
  <div id="container" class="relative flex w-full justify-center">
    <main class="w-full">
      <div
        class="absolute inset-0 top-0 before:absolute before:inset-0 before:bg-black/30 before:content-['']"
        style={{
          backgroundImage: `url(${heroImage?.url || ''})`,
          backgroundSize: 'cover',
          backgroundPosition: 'center',
          backgroundRepeat: 'no-repeat',
          backgroundAttachment: 'fixed',
        }}
      >
      </div>
      <Welcome data={heroSection} />
      <!-- <Posts categories={categories || []} /> -->
      <Postss client:load categories={categories || []} />
    </main>
  </div>
</Layout>
