---
import Layout from '../layouts/Layout.astro';

import Welcome from '../components/Welcome.astro';
import { fetchHomeData } from '../lib/graphql';
import type { Image } from '../types/common';
import type { HeroSectionData } from '../types/home';
import { Posts } from '../components/Posts';

type CategoryItem = {
  Name?: string;
  Icon?: Image;
  Slug?: string;
  postCount?: number;
};

let heroImage: Image | null = null;
let heroSection: HeroSectionData | null = null;
let categories: CategoryItem[] | null = null;

try {
  const data: any = await fetchHomeData();
  heroImage = data?.homePage?.Image;
  heroSection = data?.homePage?.HeroSection;
  categories = data?.homePage?.Categories;
} catch (error) {
  console.error('Error fetching home data:', error);
}
---

<Layout>
  <div id="container" class="relative flex w-full justify-center">
    <main class="w-full">
      <div
        class="absolute inset-0 top-0 before:absolute before:inset-0 before:bg-black/30 before:content-['']"
        style={{
          backgroundImage: `url(${heroImage?.url})`,
          backgroundSize: 'cover',
          backgroundPosition: 'center',
          backgroundRepeat: 'no-repeat',
          backgroundAttachment: 'fixed',
        }}
      >
      </div>
      <Welcome data={heroSection} />
      <Posts client:visible Categories={categories || []} />
    </main>
  </div>
</Layout>
