---
import logo from '../assets/peak2peak.svg';
---

<section id="hero" class="flex w-full flex-col items-center justify-center px-5 pb-[80px]">
  <div class="flex w-full max-w-screen-2xl flex-col items-center justify-center">
    <!-- Logo section -->
    <div class="z-10 flex h-[calc(100vh)] flex-col items-center justify-center">
      <img src={logo.src} alt="Peak2Peak" />
    </div>

    <div class="z-10 flex w-full flex-col justify-center gap-10 lg:flex-row">
      <!-- Left section -->
      <div class="flex w-full flex-1">
        <div
          class="flex w-full max-w-[475px] flex-1 flex-col items-center justify-center gap-3 bg-white/70 px-3 py-10 backdrop-blur-md"
        >
          <h4>HEDGEHOG</h4>
          <h6 class="font-thin text-secondary">Adventurer</h6>
          <img
            alt=""
            src={'https://kimesengineering.com/wp-content/uploads/2019/10/vIqzOHXj.jpg'}
            width="300"
            height="300"
            class="mt-5 rounded-full"
            fetchpriority="high"
          />
        </div>
      </div>

      <!-- Middle section -->
      <div class="flex flex-1 flex-col gap-5">
        <div class="flex flex-col">
          <h1 class="font-thin text-primary">Welcome To</h1>
          <h1 class="text-primary">Peak2Peak</h1>
        </div>
        <h6 class="w-full max-w-[250px] font-thin text-secondary">STAY A WHILE AND LOOK AROUND</h6>
        <span class="w-full max-w-[400px] font-medium text-white">
          Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
        </span>
      </div>

      <!-- Right section -->
      <div class="flex w-full max-w-[400px] flex-1 flex-col gap-5">
        <p class="text-white">
          Proin faucibus diam nec iaculis dapibus. Fusce dignissim neque et est vestibulum, vel
          facilisis magna mattis. Nunc convallis laoreet neque, sit amet aliquet sem eleifend in. In
          efficitur molestie leo in gravida. Pellentesque et diam ante.
        </p>
        <p class="text-white">
          Mauris metus maurisProin faucibus diam nec iaculis dapibus. Fusce dignissim neque et est
          vestibulum, vel facilisis magna mattis. Nunc convallis laoreet neque, sit amet aliquet sem
          eleifend in. In efficitur molestie leo in gravida. Pellentesque et diam ante. Mauris metus
          mauris
        </p>
      </div>
    </div>
  </div>
</section>
